<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css" type="text/css">
</head>
<body>
<div class="logo">
    <h1>CoWIN SLOT UPDATER</h1>
</div>
<div class="form-container">
    <div class="form">
        <h2>Please enter the following details to view the available slots</h2>
        <form action="/" class="box" method="GET">
            <div class="district">
                <input name="district" type="text" id="district" autocomplete="off" placeholder="district" required/>
            </div>
            <div class="date">
                <input name="date" type="date" id="date"  autocomplete="off" placeholder="date" required/>
            </div>
            <div class="submit">
                <input type="submit" value="submit">
            </div>
        </form>
    </div>
</div>

<!--<p id="show-final"><%= data%></p>-->

<!--<script type="text/javascript" src="/public/javascripts/home.js"></script>-->
<!--<script type="text/javascript" src="/routes/basic.js"></script>-->
</body>
</html>