body{
    font-family: "Baskerville Old Face",sans-serif;
    color: white;
    background-color: #202426;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%239da65d' stroke-width='100' stroke-opacity='0' %3E%3Ccircle fill='%23202426' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2321292c' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23212d31' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23213236' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2321373a' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23213d3d' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23224240' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23234742' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23264c44' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23295145' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232e5645' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23345a44' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%233c5f44' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23446442' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234d6841' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23566c3f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%2361703e' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%236c733d' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 25px;
}
.logo{
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
}
.form-container{
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: center;
    /*background-color: cadetblue;*/
    box-shadow:5px 5px 8px 3px black;
    border-radius: 45px;
    background-color: darkslategrey;
}
.form{
    padding: 20px 20px;
}
.form h1,h2,h3{
    color: white;
    font-weight: lighter;
}
.form input[type = "text"],.form input[type = "date"],.selectize-control{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid  aqua;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
}
.form input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid aqua;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.form input[type = "submit"]:hover{
    background: teal;
}
::placeholder{
    color: lightgray;
    font-size: 20px;
}
input{
    font-size: 15px;
}

textarea{
    display: none;
}

table,th,td{
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
}
td{
    padding: 5px;
}
.td_row_even, .td_row_odd  {
    padding: 2px;
    background-color: transparent;
}

#load_json_btn,#new{
    margin: 20px auto;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: darkcyan;
    font-size: 50px;
    text-align: center;
}

#new a{
    color: white;
}
#new a:hover{
    text-decoration: none;
}
.selectize-control .option:hover {
    background-color: black;
    font-size: 25px;
    color: white;
}
@media only screen and (max-width: 600px) {
    .form-container{
        width: 100%;
    }
}
