table,th,td{
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
}
td{
    padding: 5px;
}
.fill, body, html {
    height: 100%
}
.td_row_even, .td_row_odd  {
    padding: 2px;
    background-color: transparent;
}